.main-register__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 74px 0 123px;
}

.main-register__container {
    align-items: center;
}

.main-register__input {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: white;
    background-color: #2F2F2F;
    border-radius: 8px;
    border: none;
    margin: 0;
    padding: 15px 0 15px 15px;
    box-sizing: border-box;
    width: 100%;
}

.main-register__label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #8B8B8B;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    padding-bottom: 20px;
    width: 100%;
    gap: 10px;
}

.main-register__input-error {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    color: red;
}

.main-register__input-success {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    color: green;
}

.my-account__container-btn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.my-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 220px;
}

.my-account__form {
    display: flex;
    flex-direction: column;
    width: 410px;
    gap: 210px;
}

.my-account__title {
    text-align: center;
}

.my-account__edit-btn {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.my-account__edit-btn:disabled {
    cursor: default;
    color: gray;
}

.my-account__exit-btn {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

.my-account__exit-btn:hover {
    opacity: 0.5;
    transition: 1s;
}

.my-account__edit-btn:not(:disabled):hover {
    opacity: 0.5;
    transition: 1s;
}

@media screen and (max-width: 768px) {
    .my-account {
        gap: 210px;
    }
}

@media screen and (max-width: 420px) {
    .my-account__form {
        width: 260px;
    }
}